#junctions {    
    color: #222;
    transition: visibility 0s, opacity 0.5s linear;
}
#junctions h1 {
    font-size: 28px;
    margin: 20px 0;
}

#junctions li {
    cursor: pointer;
}
#junctions li:hover {
    color: #333;
    text-decoration: underline;
}

.input-panel {
    padding: 20px 0px;
}


.btn {
    margin: 3px;
}

.simulationsList li {
    cursor: pointer;
}

#junction-controls-title Button {
    float: right;
}

.search {
    margin: 10px 10px 50px 10px;
}

.search-result {
    cursor: pointer;
}