.Map {
    width: 100%;
    background-color: #ccc;
    display: inline-block;
    margin: 10px;
    position: relative;
    vertical-align: top;
    overflow: hidden;
    -webkit-box-shadow: 0px 0px 10px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px -2px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px -2px rgba(0,0,0,0.75);
    border-radius: 5px;
}
.Map-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-36px, -35px);
    width: 72px;
    height: 70px;
}
.vehicle {
    width: 40px;
    height: 40px;
    position: absolute;
    background-size: 100%;
    background-repeat: no-repeat;
    z-index: 1;
}

.lanes-disp div, .Map-center {
    background-color: #fff;
    z-index: 0;
}

.lanes-cont .lane, .lanes-disp div {
    position: absolute;
}
.lanes-disp .lane-disp:after {
    content:"";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 50%;
    border-left: 1px dashed #333;
    transform: translate(-50%);
}

.Loading {
    background-size: 50px;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 10px;
    left: 24px;
    background-color: rgba(0,0,0,0.1);
}

.vehicle {
    overflow: visible;
}

.vehicle-label {
    width: 320px;
    overflow: visible;
}